{% extends 'base.html' %}
{% block head %}
    {% load static %}
    <link href="{% static 'geneticon/css/life.css' %}" rel="stylesheet">
    <title>Genetic Algorithm - Life preview</title>
{% endblock %}

{% block body %}
<div class="life-configuration">
    <div class="life-configuration__header">
        <div class="life-configuration__header__title">{{ life.population.name }}: configuration</div>
        <a class="life-configuration__header__delete" href="{% url 'life_clean' life.id %}"></a>
    </div>
    <div class="life-configuration__description">
        Here are values You set in previous form. If You want to run 'the Life' click 'Live' button or just iterate through next generations by clicking in next button.
    </div>
    {% if generation_time %}<div class="life-configuration__total_title">Creation of this init population took {{ generation_time }}</div>{% endif %}

    <div class="life-configuration__result">
        <div class="life-configuration__result__label">Current result</div>
        <div class="life-configuration__result__value hidden">
            {% if result is not null %}
               <div class="result__name">{{ result.0 }}</div>
                {% for chromosome, value in result.1 %}
                    <div class="result__genes">
                        {% for gene in chromosome|dictsort:'locus' %}
                            {{ gene.allel }}
                        {% empty %}
                        {% endfor %}
                    </div>
                    <div class="result__chromosome">x{{ forloop.counter }}: {{ value }}</div>
                {% endfor %}
                <div class="result__value">value: {{ result.2 }}</div>
            {% endif %}
        </div>
    </div>

    <div class="life-configuration__properties">
        {% include 'life/configuration_extended.html' %}
    </div>
    <div class="loader--hidden"></div>
    <div class="manage-buttons">
        <button class="button button__next"></button>
        <button class="button button__live"></button>
    </div>
    <script src="{% static 'geneticon/js/life.js' %}"></script>
</div>
{% endblock %}