{% if generation is not null %}
    <div class="generation">
        <div class="generation__header">
            {% if epoch is not null %}
                <div class="generation__header__label">Epoch: {{ epoch.number }}</div>
                <div class="generation__header__population">Population size: {{ generation|length }}</div>
                <div class="generation__header__total_time">{{ epoch.generation_time }}s</div>
            {% endif %}
        </div>
        <div class="generation__population--hidden">
            <a class="property__metrics" href="{% url 'epoch_metrics' life.id epoch.number %}">Generate metrics</a>
            <div class="property__header">
                    <div class="property__label">Counter</div>
                    <div class="property__label">Name</div>
                    {% if life.representation == 'BINARY' %}<div class="property__label">chromosome 1 bin</div>{% endif %}
                    <div class="property__label">chromosome 1 dec</div>
                    {% if life.representation == 'BINARY' %}<div class="property__label">chromosome 2 bin</div>{% endif %}
                    <div class="property__label">chromosome 2 dec</div>
                    <div class="property__label">Function result</div>
                </div>
                <div class="property__records">
                    {% for subject, chromosomes, function_value in generation %}
                       <div class="property">
                           <div class="property__index">{{ forloop.counter }}</div>
                           <div class="property__label">{{ subject }}</div>
                            {% for chromosome, value in chromosomes %}
                                <div class="chromosome__gene property__value">
                                    {% for gene in chromosome|dictsort:'locus' %}
                                        {{ gene.allel }}
                                    {% empty %}
                                    {% endfor %}
                                </div>
                                <div class="chromosome__gene_value property__value">{{ value }}</div>
                            {% empty %}
                                <div class="chromosome__gene_value property__value">-</div>
                            {% endfor %}
                            <div class="function__value property__value">{{ function_value }}</div>
                       </div>
                    {% empty %}
                        <div>There is no subjects available.</div>
                    {% endfor %}
                </div>
        </div>
    </div>
{% endif %}