.life-configuration {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 10px 50px;
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
  position: relative;

  &__result {
    margin: 10px 0;
    display: flex;
    padding: 15px 15px;
    flex-direction: column;
    font-weight: bold;
    text-transform: capitalize;
    background-color: #e4ffc0;

    &:hover {
      box-shadow: 0 4px 8px 0 #c1ff74, 0 2px 10px 0 #8cff6d;
      transition: box-shadow 0.3s;
    }

    &__label {
      display: flex;
    }

    &__genes {
      display: flex;
      white-space: nowrap;
      line-break: loose;
      margin-left: 5px;
      margin-right: 10px;
      flex-direction: row;
    }

    &__value {
      display: flex;
      white-space: nowrap;
      line-break: loose;
      margin-left: 5px;
      margin-right: 10px;
      flex-direction: row;
    }
  }

  &__header {
    display: flex;
    flex-direction: row-reverse;

    &__title {
      flex: 1;
      margin: 10px 0;
      padding: 0 10px;
      font-size: 40px;
      position: relative;
      text-transform: capitalize;
    }

    &__delete {
      flex: 2;
      background-size: contain;
      background-repeat: no-repeat;
      max-width: 40px;
      height: 50px;
      background-image: url('../images/trash-bin.png');
      position: relative;
      justify-content: flex-end;
      padding: 10px 10px;
      border-radius: 30%;

      &:hover {
        box-shadow: 0 4px 8px 0 #FF6B6B, 0 2px 10px 0 #ff1717;
        transition: box-shadow 0.2s;
      }
    }
  }

  &__description {
    font-size: 20px;
    position: relative;
    margin: 10px 0;
    white-space: pre-line;
    line-break: loose;
  }

  &__properties {
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }

  .property {
    padding: 10px 10px;
    display: flex;
    justify-content: center;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
      transition: box-shadow 0.2s;
    }

    &__header {
      display: flex;
      color: grey;
      width: 100%;
      justify-content: flex-start;
      text-transform: capitalize;
    }

    &__index {
      opacity: 70%;
      flex: 1;
      margin-right: 5px;
      margin-left: 5px;
    }

    &__label {
      flex-direction: row;
      flex: 2;
      font-weight: bold;
      margin-right: 5px;
      text-transform: capitalize;
    }

    &__value {
      white-space: nowrap;
      line-break: loose;
      max-width: 460px;
      margin-left: 5px;
      margin-right: 10px;
      flex-direction: row;
      flex: 3;
    }

    &__metrics {
      padding: 10px 10px;
      display: flex;
      margin: 10px;
      justify-content: center;

      &:hover {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
        transition: box-shadow 0.2s;
      }
    }
  }
}

.result {
  &__genes {
    padding: 10px 10px;
  }

  &__name {
    padding: 10px 10px;
  }

  &__chromosome {
    padding: 10px 10px;
  }

  &__value {
    padding: 10px 10px;
  }
}

.generations {
    display: flex;
    flex-direction: column;
}

.generation {
  &__header {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    padding: 10px;
    border-top: azure 2px solid;
    border-bottom: azure 2px solid;
    text-transform: capitalize;

    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
      background-color: azure;
      transition: box-shadow 0.2s;
      cursor: pointer;
    }

    &__label {
      justify-content: flex-start;
    }

    &__total_time {
      right: 15px;
      position: absolute;
      color: grey;
      font-size: 17px;
      font-style: italic;
    }
  }

  &__population {
    margin: 10px;

    &--hidden {
      transition: display 1s;
      display: none;
    }
  }
}

.manage-buttons {
  display: flex;
  flex-direction: row;
  margin-left: 30%;
  margin-right: 30%;

  &--loading {
    display: none;
  }
}